POSTGRES_USER=postgres
POSTGRES_PASSWORD=SenhaSuperSegura123!
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=SenhaSuperSegura123!
JWT_CHAVE=sua-chave-jwt-secreta-minimo-32-caracteres-aqui!
GRAFANA_PASSWORD=admin
